parameters:
  phpVersion: 80400
  level: max
  paths:
    - src
  bootstrapFiles:
    - vendor/autoload.php
  treatPhpDocTypesAsCertain: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - message: '#Access to private property .+\:\:\$maxInFlight#'
      path: src/Client/Client.php
  checkMissingTypehints: true
  inferPrivatePropertyTypeFromConstructor: true
  parallel:
    maximumNumberOfProcesses: 8
